
h1 {
    text-align: center;
    color: #000;
}

h2 {
    text-align: center;
    font-weight: normal;
    margin-bottom: 30px;
}

h3 {
    margin-top: 30px;
    color: #000;
    text-decoration: underline;
}

p {
    line-height: 1.6;
    margin-bottom: 15px;
}

ul {
    margin-left: 20px;
}

li {
    margin-bottom: 8px;
}
