
body{
    background-color: rgb(183, 182, 182);
    margin:0;
    display: block;
}


nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    backdrop-filter: blur(6px);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}


nav li {
  float: left;
}

nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav li a:hover {
  background-color: #089DDB;
}

main{
    background: white;
    max-width: 100vw;
    min-height: 100vh;
}

.sec{
  padding: 10vh 10vw 10vh;

}
