        section {
            font-family: Times New Roman, serif;
            line-height: 1.5;
            font-style: italic;
        }

        h1 {
            text-align: center;
            font-size: 24px;
            margin-bottom: 20px;
            color: cyan;
        }

        h2 {
            font-size: 18px;
            margin-top: 30px;
            margin-bottom: 10px;
        }

        h3 {
            font-size: 16px;
            margin-top: 20px;
            margin-bottom: 5px;
        }

        p {
            text-align: justify;
            margin-bottom: 15px;
        }

        ul {
            margin-left: 40px;
        }

        li {
            margin-bottom: 8px;
        }