/* On fait que la vidéo remplisse l'écran, mais garde son ratio */
.video-container {
    position: relative;  /* fixe la vidéo à l'écran */
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

#bg-video {
    width: 100%;
    height: 90%;
    object-fit: contain; /* important : pas de découpage, la vidéo entière est visible */
    object-position: center; /* centre la vidéo si il y a des bandes */
}

.sec{
    padding: 10vh 0 0 0;
}

/* Responsive mobiles */
@media (max-width: 768px) {

    .sec{
    padding: 0;
}


}
